.App {
  text-align: center;
  font-family: "BioRhyme", serif !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.registerForm {
  display: block !important;
  margin-top: 2px;
  text-align: left;
  border: 2px solid;
  border-radius: 7px;
  border-color: darkgrey;
  padding: 25px;
  background-color: #fafafa;
}

.registerField {
  margin-bottom: 15px;
}


.inputField{
  margin-left: 5px;
  margin-right: 7px;
  width: 500px;
  margin-bottom: 12px;
}

.container{
  margin-top: 30px;
  margin-bottom: auto;
}


.loginField {
  margin-bottom: 15px;
}

.loginForm {
  display: block !important;
  margin-top: 2px;
  text-align: left;
  border: 2px solid;
  border-radius: 7px;
  border-color: darkgrey;
  padding: 25px;
  background-color: #fafafa;

}

.addCampaignForm{
  display: block !important;
  margin-top: 2px;
  margin-bottom: 20px;
  text-align: left;
  border: 2px solid;
  border-radius: 7px;
  border-color: darkgrey;
  padding: 25px;
  background-color: #fafafa;

}

.addCandidatebtn{
  margin:5px;
}

.addCampaignForm{
  text-align: left !important;
}


.homeContainer{
  display: inline-flex !important;
}

.campaignCandidates{
  text-align: left !important;
  border: 2px solid;
  border-radius: 7px;
  border-color: darkgrey;
  padding: 6px;
  margin:10px;
  
}

.candidateItem{
  margin: 5px !important;
}

.candidateInfo:not(:last-child){
  border-bottom: 2px solid !important;
  border-color: darkgrey !important;
}

.fieldLabel{
  margin-right: 3px;
}


.row{
  margin-bottom: 20px;
}

.container{
  min-height: 80.2vh;
  display: flex !important;
  flex-direction: column !important;
  margin-top: 50px;
  width:fit-content !important;
  
}

.footer{
  margin-top: auto;
}

.card{

}

.loginbtn{
  width: 100%;
}

.registerbtn{
  width: 100%;
}

.btn_2{
  margin-top: 10px;
}

.accessButton{
  margin-left: 5px;
}

.voteBtn{
  margin-bottom: 5px;
}

.periodErrorMessage{
  color: red;
}

.errorMessage{
  color: red;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.searchTab{
  margin-bottom: 20px;
}

body{
  background-image: url(/home/alex/Documents/JAVA-ADVANCED/voting-platform/vp-front-end/vpfrontend/src/resources/background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: "BioRhyme", serif !important;
  
}

.welcomeMessage{
  font-style: oblique;
  text-shadow: 2px 2px 5px grey;
  font-size: 70px;
}

.homePageDescription{
  color: white;
  text-shadow: 2px 2px 5px grey;
  font-style: italic;
}


.homePage{
  display: flex !important;
}